.cart {
    padding: 100px 0;
    width: 1400px;
    margin: auto;

    &__all-order {
        margin-top: 60px;
        text-align: center;
    }

    &__title {
        color: var(--grey-scale-grey-800, #272727);
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 1px;
        margin-bottom: 60px;
    }

    &__table {
    }

    &__head {
        display: flex;
        align-items: center;
        padding: 24px 0;
        border-bottom: 1px solid #c6c6c6;
        border-top: 1px solid #c6c6c6;
        height: 40px;
        color: var(--grey-scale-grey-800, #272727);
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 150%;
    }

    &__body {
        border-bottom: 1px solid #e5e5e5;
        width: 1400px;
        margin: auto;
    }

    &__empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 80px 0;
        gap: 16px;

        &-icon {
            font-size: 60px;
            color: #aaaaaa;
            display: flex;
            align-items: center;
        }

        &-text {
            color: #848484;
            font-size: 16px;
            font-weight: 500;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        padding: 30px 0;
        text-align: center;
        border-bottom: 1px solid #f2f2f2;

        &:last-child {
            border-bottom: none;
        }
    }

    // 컬럼 공통 및 너비
    &__head-col {
        &--info {
            margin-left: 40px;
        }
    }

    &__head-col,
    &__col {
        &--checkbox {
            width: 98px;
            // padding: 0 29px;
        }

        &--info {
            flex: 1;
            text-align: left;
            padding: 20px;
        }

        &--qty {
            width: 120px;
            margin-right: 70px;
        }

        &--price {
            width: 99px;
            margin-right: 20px;
        }

        &--discount {
            width: 99px;
            margin-right: 20px;
        }

        &--shipping {
            width: 99px;
            margin-right: 20px;
        }

        &--total {
            width: 99px;
            margin-right: 20px;
        }

        &--action {
            width: 120px;
            display: flex;
            justify-content: flex-end;
        }
    }

    // 체크박스 커스텀
    &__checkbox-label {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    &__checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked ~ .cart__checkbox-custom {
            background-color: #1a1a7c; // 진한 네이비
            border-color: #1a1a7c;
        }

        &:checked ~ .cart__checkbox-custom::after {
            display: block;
        }
    }

    &__checkbox-custom {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border: 1px solid #ccc;

        &::after {
            content: '';
            position: absolute;
            display: none;
            left: 6px;
            top: 2px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }

    // 상품 정보
    &__product {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__thumb {
        width: 139px;
        height: 160px;
        flex-shrink: 0;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><rect width="5" height="5" fill="%23f0f0f0"/><rect x="5" y="5" width="5" height="5" fill="%23f0f0f0"/><rect x="5" width="5" height="5" fill="%23ffffff"/><rect y="5" width="5" height="5" fill="%23ffffff"/></svg>')
            repeat;
        background-color: #fafafa;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__name {
        color: var(--GreyScale-grey-500, #474747);
        text-align: center;
        font-size: 19px;
        font-weight: 600;
        line-height: 150%;
    }

    // 수량 조절 버튼
    &__qty {
        width: 120px;
        display: inline-flex;
        background: #f9f9f9;
        border-radius: 2px;

        &-btn {
            width: 40px;
            height: 40px;
            background: none;
            border: none;
            cursor: pointer;
            font-size: 26px;
            color: #474747;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background: #eee;
            }
        }

        &-val {
            width: 40px;
            height: 40px;
            font-size: 15px;
            font-weight: 400;
            color: #000;
            background: #fff;
            line-height: 260%;
        }
    }

    // 텍스트 수치들
    &__price-num {
        color: var(--GreyScale-grey-500, #474747);
        text-align: center;
        font-size: 19px;
        font-weight: 400;
        line-height: 150%;

        &--strong {
            color: var(--GreyScale-grey-600, #414141);
            font-size: 19px;
            font-weight: 700;
            line-height: 150%;
        }
    }

    // 버튼 액션
    &__actions {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 100%;
    }

    &__btn {
        width: 98px;
        height: 40px;
        padding: 10px;
        cursor: pointer;

        &--order {
            background: var(--primary-blue, #151789);
            color: var(--Bk_Wh-Wh, #fff);
            text-align: center;
            font-size: 13px;
            font-weight: 700;
            line-height: 150%;
        }

        &--wish,
        &--delete {
            display: flex;
            width: 98px;
            height: 40px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background: #fff;
            border: 1px solid var(--grey-scale-grey-100, #c6c6c6);

            &:hover {
                background-color: #f7f7f7;
            }
        }

        &--select-delete {
            display: flex;
            width: 98px;
            height: 40px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            background: #fff;
            border: 1px solid var(--grey-scale-grey-100, #c6c6c6);
            margin-top: 24px;

            &:hover {
                background-color: #f9f9f9;
            }
        }

        &--all-order {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 60px;
            background-color: #151789;

            color: #fff;
            font-size: 18px;
            font-weight: 700;
            border: none;
            cursor: pointer;
            padding: 0;
            transition: background-color 0.2s;

            &:hover {
                background-color: #11126b;
            }
        }
    }

    &__empty {
        padding: 80px 0;
        text-align: center;
        color: #888;
        font-size: 16px;
    }
}

// 요약 영역
.cart-summary {
    height: 150px;
    display: flex;
    gap: 140px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-top: 2px solid #333;
    border-top: 2px solid var(--grey-scale-grey-100, #c6c6c6);
    border-bottom: 2px solid var(--grey-scale-grey-100, #c6c6c6);
    background-color: #fff;
    width: 1400px;

    &__item {
        text-align: center;
        padding: 0 40px;
    }

    &__title {
        color: var(--GreyScale-grey-500, #474747);
        font-size: 19px;
        font-weight: 600;
        line-height: 150%;
        display: block;
        margin-bottom: 12px;
    }

    &__val {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--grey-scale-grey-800, #272727);
        text-align: center;
        font-size: 28px;
        font-weight: 600;
        line-height: 150%;
    }

    &__unit {
        font-size: 17px;
        font-weight: 600;
        line-height: 150%;
        display: flex;
    }

    &__sign {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #aaa;
        font-size: 36px;
        font-weight: 200;
        // background: #000;
    }
}

// 최종 금액 영역
.cart-total {
    height: 100px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--grey-scale-grey-100, #c6c6c6);

    &__desc {
        color: var(--GreyScale-grey-500, #474747);
        font-size: 15px;
        font-weight: 500;
        line-height: 150%;
    }

    &__point {
        color: var(--primary-blue, #151789);
        text-align: center;
        font-size: 15px;
        font-weight: 700;
        line-height: 150%;
    }

    &__price-wrap {
        display: flex;
        align-items: baseline;
        gap: 16px;
    }

    &__title {
        color: var(--GreyScale-grey-600, #414141);
        font-size: 24px;
        font-weight: 700;
        line-height: 150%;
        padding-right: 20px;
    }

    &__val {
        color: var(--primary-blue, #151789);
        text-align: right;
        font-size: 32px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 1px;
    }

    &__unit {
        font-size: 24px;
        font-weight: 600;
        line-height: 150%;
    }
}
